<h1><center><font face ="Spectral">[Name of Website]</font></center></h1>
<h4><i><center><font face ="Spectral">[Website slogan]</font></center></i></h4>
<marquee>A student review can go along here. Maybe for a popular class</marquee> <!--Idea from: https://www.makeuseof.com/tag/7-cool-html-effects-that-anyone-can-add-to-their-website-nb/-->
<center><img src="/images/bulldog.jpeg" ></center>