<!--<h1><center><font face ="Spectral">CourseEval</font></center></h1>
<h4><i><center><font face ="Spectral">[Website slogan]</font></center></i></h4>-->
<center><img src="/images/hpg2.PNG" style="width: 100%; background-size: cover;" ></center>
<marquee style="float: top; font-style: italic; color: rgb(68, 68, 83);">Share Your Hoya Experience!</marquee> <!--Idea from: https://www.makeuseof.com/tag/7-cool-html-effects-that-anyone-can-add-to-their-website-nb/-->
