<!DOCTYPE html>
<html>
  <head>
    <style>
      @font-face {font-family: karla;src: url(Karla-VariableFont_wght.ttf);}
      h1   {color:rgb(79, 79, 97);}
      h3   {font-family: karla;}
      body {background-color:rgb(255, 255, 255);border-style: groove;font-family: karla;}
      p    {color:black;font-family:karla;}
      </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
   
      <div class="topnavbar" >
        
                 
          <nav>
            
            <img src="/images/logo.PNG" style="width: 15%; margin-top: 0.1%; float: left;" >
            <a href="/ratings" style="margin-top: 0.3%;">Course Ratings</a>
            <a href="/submit" style="margin-top: 0.3%;">Submit a Review</a>
            <a href="/" style="margin-top: 0.3%;">Home</a>
          </nav>
      </div>  

    <div id="content" style="background-size: cover; width: 100%;">
      <%- body %>
    </div>
 <!--
      FLASH MESSAGES
      https://github.com/escaladesports/express-flash-messages
    -->
    <div class="flash-container">
      <% const messages = getMessages() %>

      <% if (messages) { %>
          <% Object.entries(messages).forEach((obj) => { %>
              <% var category = obj[0] %>
              <% var message = obj[1] %>

              <!--
                  BOOTSTRAP ALERTS
                  https://getbootstrap.com/docs/5.0/components/alerts/#dismissing
              -->
              <div class="alert alert-<%= category %> alert-dismissible fade show" role="alert" style="margin-bottom:0;">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  <%= message %>
              </div>

          <% }) %>
      <% } %>
    </div>
    
    <footer style="float: right;  font-style: italic;">
      <p style="color: rgb(68, 68, 83);">&copy; 2021 Zhiye Jiang, Nicholas Deng, Marthaline Cooper, Ananya Kadir</p>
    </footer>
  
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script type="text/javascript">
    
      console.log("Thanks for the page visit!")
    
    </script>
  </body>


</html>


<!--Back button source: https://www.w3schools.com/jsref/met_his_back.asp-->