<h2>Course Ratings</h2>

<p>Choose your class below:</p>

<form action="/ratings/dashboard" method="POST">

    <label>Class:</label>
    <select name="course_name">
        <option value="finance">Financial Markets & Corporate Decision Making</option>
        <option value="marketing">Marketing Analysis & Customer Strategy</option>
        <option value="stats">Managerial Statistics</option>
        <option value="aps">Analytical Problem Solving</option>
    </select>
    <br>

    <button>Submit</button>
</form>