
<h2 style="color: rgb(79, 79, 97); text-align: center; font-size: 2vw;">Share your Experience</h2>

<p style="text-align: center; font-size: 1.5vw;">Choose your class below:</p>

<div >
    <img src="/images/b1.PNG" style="width: 40%; margin-left: auto; margin-right: auto; display: block;" >
</div>

<div style="width: 40%; margin-left: auto; margin-right: auto; display: block; padding-top: 1%;">
    <form action="/submit/success" method="POST" style="text-align: center;">

        <label style="font-size: 1.5vw;">Class:</label>
        <select name="course_name" style="font-size: 1.25vw;">
            <option value="finance">Financial Markets & Corporate Decision Making</option>
            <option value="marketing">Marketing Analysis & Customer Strategy</option>
            <option value="stats">Managerial Statistics</option>
            <option value="aps">Analytical Problem Solving</option>
        </select>
        <br>
    
        <label style="font-size: 1.5vw;">Amount of Summative Assessments (higher is more):</label>
        <select name="assessments" style="font-size: 1.25vw;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
    
        <label style="font-size: 1.5vw;">Amount of Group Work (higher is more):</label>
        <select name="groupWork" style="font-size: 1.25vw;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
    
        <label style="font-size: 1.5vw;">Difficulty of Class (higher is more difficult):</label>
        <select name="difficulty" style="font-size: 1.25vw;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
    
        <label style="font-size: 1.5vw;">Comments:</label>
        <textarea name="comments"></textarea>
    
        <button style="font-size: 1.25vw;">Submit</button>
    </form>

</div>
<marquee style=" margin-top: 1%; float: top; font-style: italic; color: rgb(68, 68, 83); font-size: 1vw;">Share Your Hoya Experience!</marquee> <!--Idea from: https://www.makeuseof.com/tag/7-cool-html-effects-that-anyone-can-add-to-their-website-nb/-->              
<div class="flash-container">
    <% const messages = getMessages() %>

    <% if (messages) { %>
        <% Object.entries(messages).forEach((obj) => { %>
            <% var category = obj[0] %>
            <% var message = obj[1] %>

            <!--
                BOOTSTRAP ALERTS
                https://getbootstrap.com/docs/5.0/components/alerts/#dismissing
            -->
            <div class="alert alert-<%= category %> alert-dismissible fade show" role="alert" style="margin-bottom:0;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <%= message %>
            </div>

        <% }) %>
    <% } %>
  </div>   