
<h2 style="color: rgb(79, 79, 97); text-align: center; font-size: 2vw;">Share your Experience</h2>

<p style="text-align: center; font-size: 1.5vw;">Submit your ratings below:</p>

<div >
    <img src="/images/b1.PNG" style="width: 40%; margin-left: auto; margin-right: auto; display: block;" >
</div>

<div class="container">
    <form class="mx-auto" action="/submit/success" method="POST" style="max-width: 700px; margin-top: 2em;">

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Class:</label>
            <div class="col-sm-8">
                <select class="form-select" name="course_name">
                    <option value="finance">Financial Markets & Corporate Decision Making</option>
                    <option value="marketing">Marketing Analysis & Customer Strategy</option>
                    <option value="stats">Managerial Statistics</option>
                    <option value="aps">Analytical Problem Solving</option>
                </select>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 1em;">
            <label class="col-sm-4 col-form-label">Amount of Summative Assessments (higher is more):</label>
            <div class="col-sm-8">
                <select class="form-select" name="assessments">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 1em;">
            <label class="col-sm-4 col-form-label">Amount of Group Work (higher is more):</label>
            <div class="col-sm-8">
                <select class="form-select" name="groupWork">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 1em;">
            <label class="col-sm-4 col-form-label">Difficulty of Class (higher is more difficult):</label>
            <div class="col-sm-8">
                <select class="form-select" name="difficulty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 1em;">
            <label class="col-sm-4 col-form-label">Comments:</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="comments"></textarea>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary mb-2" style="margin-top: 1em;">Submit</button>
        </div>
    </form>

</div>
<marquee style=" margin-top: 1%; float: top; font-style: italic; color: rgb(68, 68, 83); font-size: 1vw;">Share Your Hoya Experience!</marquee> <!--Idea from: https://www.makeuseof.com/tag/7-cool-html-effects-that-anyone-can-add-to-their-website-nb/-->              
<div class="flash-container">
    <% const messages = getMessages() %>

    <% if (messages) { %>
        <% Object.entries(messages).forEach((obj) => { %>
            <% var category = obj[0] %>
            <% var message = obj[1] %>

            <!--
                BOOTSTRAP ALERTS
                https://getbootstrap.com/docs/5.0/components/alerts/#dismissing
            -->
            <div class="alert alert-<%= category %> alert-dismissible fade show" role="alert" style="margin-bottom:0;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <%= message %>
            </div>

        <% }) %>
    <% } %>
  </div>   