body {
  
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  padding-bottom: 0px;
  color: rgb(68, 68, 83);
  background-color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff002b;
}


.topnavbar{
  overflow: hidden;
  position: fixed;
  right: 0.3%;
  left: 0.1%;
  top: 0%;
  width: 100%;
  background-color: rgb(255, 255, 255);

}

.topnavbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  
  padding: 10px 16px;
  text-decoration: none; /*gets rid of underlines*/
}


.topnavbar a:hover {
  color: white;
  background-image: linear-gradient(to right, rgb(68, 68, 83), rgb(74, 74, 95), white);
}


.container2{
  width: 100%;
  height: 20vw;
  align-items: center;
  background-color:rgb(255, 255, 255);
  
  
}
.containerpic{
  width: 100%;
  height: 150px;
  background-color:rgb(44, 43, 43);
  
}
div#books{
  float:left;
  width: 70%;
  height: 150px;
 
  
  
}

div#SubissionForm{
  float:left;
  width: 20%;
  height: 150px;
  margin-right: 10%;
  
  
}
